body {
	background-image: url('../img/GameFest2015background.png');
	background-repeat: repeat-y;
	background-position: top;
  background-attachment: fixed;
	background-size: 100%;
}

.countdown {
  background-color: #144390;
  border: none;
  color: white;
  text-shadow: 2px 2px 2px #555;
  overflow: auto;
  padding: 35px;
  border-radius: 10px;
}

.countdown-section {
	font-size: 30px;
}

.navbar-default {
  background-color: transparent;
  border: none;
  margin-top: 10px
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 900;
}

.navbar-nav {
  background-color: rgba(0,0,0,0.4);
  border-radius: 7px;
}

.row.holder-logo {
  margin-top: 20px;
}

.row.holder-countdown {
  margin-top: 40px;
}

.hero {
  min-height: 600px;
  position: relative;
}

.hero .holder-info {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
}

.hero .info {
  color: #fff;
  background-color: D11515;
  display: inline-block;
  padding: 7px 25px;
  border-radius: 7px 7px 0 0;
}

.hero .info .item {
  display: inline-block;
  margin: 0 15px;
}

.hero .info .item .title {
  display: block;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
}

.hero .info .item .value {
  text-align: left;
}

.hero .info .item a {
  color: white;
}

.hero .info .item a:hover {
  color: white;
}

.program,
.last-event,
.register,
.igda {
  padding: 6% 0;
}

footer {
  padding: 10px 0;
}

.program,
.igda,
footer {
  background-color: #f2f2f2;
}

.last-event {
  background-color: #fff;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h1.transformed,
h2.transformed {
  text-transform: uppercase;
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 15px;
}

@media only screen and ( max-width: 1264px ) {
  .hero {
    min-height: 500px;
  }
  .countdown {
    padding: 28px;
  }
  .countdown-section {
    font-size: 24px;
  }

}

@media only screen and ( max-width: 1079px ) {
  .hero {
    min-height: 380px;
  }
  .countdown {
    padding: 22px;
  }
  .countdown-section {
    font-size: 15px;
  }

}