body {
	background-image: url('../img/GameFest2015background.png');
	background-repeat: repeat-x;
	background-position: top;
	background-size: 100%;
}

.countdown {
  background-color: #144390;
  border: none;
  color: white;
  text-shadow: 2px 2px 2px #555;
  overflow: auto;
  padding: 35px;
  border-radius: 10px;
}

.countdown-section {
	font-size: 30px;
}

.navbar-default {
  background-color: transparent;
  border: none;
  margin-top: 10px
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 900;
}

.navbar-nav {
  background-color: rgba(0,0,0,0.2);
  border-radius: 7px;
}

.row.holder-logo {
  margin-top: 20px;
}

.row.holder-countdown {
  margin-top: 40px;
}